@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Outfit:wght@100..900&display=swap');
.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Outfit', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
#rules, #form{
    margin-top: 15px;
    padding: 10px 40px;
    width: 60%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px;
}
#rules h2,h3{
    text-align: center;
    margin: 20px;
}
#rules li{
    margin: 5px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
form{
    width: 100%;
}
.ques{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
}
.label{
    display:block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.opt{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 1px 2px;
    width: 47%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.opt label{
    margin: 5px;
}
.custombtn{
    display: flex;
    height: 25px;
    width: 25px;
    border: 3px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.custombtn input{
    display: none;
}
.custombtn:hover{
    cursor: pointer;
}
.custombtn .checkmark{
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 50%;
    background-color: black;
    display: none;
}
.custombtn input:checked + .checkmark{
    display: inline-block;
}
.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.submitbtn button{
    background-color:hsl(107, 73%, 40%);
    border:none;
    border-radius:12px;
    padding:8px 12px;
    font-family: "Outfit";
    font-size: 24px;
    transition: all 0.3s;
}
.submitbtn button:hover{
    cursor: pointer;
    transform: scale(110%);
}
.opt.correct{
    border-color: green;
    background-color: hsl(120, 57%, 86%);
}
.opt.incorrect{
    border-color: red;
    background-color: hsl(0, 72%, 86%);
}
.submitbtn p{
    font-size: 28px;
    font-weight: 600;
}

@media only screen and (max-width:600px){
    header{
        font-size: 18px;
    }
    #rules, #form{
        margin-top: 5px;
        padding: 5px 30px;
        width: 90%;
    }
    #rules h2,h3{
        margin: 30px;
    }
    .ques{
        font-size: 18px;
    }
    .opt{
        width: 85%;
    }
}